:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

.dark {
    /* change the dark mode color if you want */
    /* --bg: #0f172a; */
    /* --bg: #282828; */
    /* --bg: #2a2e32; */
    --bg: #182027;
    --textColor: #ddd;
    --softBg: #334155;
    --softTextColor: #94a3b8;
}
.light {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

@media screen and (max-width: 1440px) {
    .wrapper {
        max-width: 1360px;
    }
}

@media screen and (max-width: 1360px) {
    .wrapper {
        max-width: 1160px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        max-width: 1080px;
    }
}

@media screen and (max-width: 1080px) {
    .wrapper {
        max-width: 900px;
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        max-width: 720px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 640px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 475px;
        padding-right: 10px;
        padding-left: 10px;
    }
}
@media screen and (max-width: 480px) {
    .wrapper {
        max-width: 400px;
        padding-right: 10px;
        padding-left: 10px;
    }
}


.ql-container {
    font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
    color: #b3b3b1;
}